<h1 class="px-5 py-4 m-0 fw-bold">{{ pageTitle }}</h1>
<div class="transaction-list-container mx-3">
  <div class="container px-5">
    <div class="card">
      <div class="card-header bg-white p-4">
    <h2>Loan Transaction Detail</h2>


    <div>
        <div class="row">
            <td class="col-3">Customer Name</td>
            <tr class="col-9">:  {{nameCustomer}} </tr>

            <td class="col-3">Nominal Loan</td>
            <tr class="col-9">:  {{loanCredit}} </tr>

            <td class="col-3">Disbursement Status </td>
            <tr class="col-9">: {{disbursementStatus}} </tr>

            <td class="col-3">Tenor</td>
            <tr class="col-9">:  {{tenor}} </tr>
        </div>

        <div >
            <h5 class="mt-4">Installment</h5>

            <table class="table">
                <thead>
                <tr>
                  <th>No</th>
                  <th>Payment Due</th>
                  <th>Installment Total</th>
                  <th>Payment Status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of transactionDetails ; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{data.installmentDate| date:'yyyy-MM-dd'}}</td>
                  <td>{{data.installmentTotal}}</td>
                  <td> {{data.disburtmentStatus}} </td>
                
                </tr>
                </tbody>
              </table>
        </div >
    </div>
      </div>
      <a routerLink="/disbursement/list"><button class="btn btn-primary text-white m-5" > Back </button></a>
    </div>
  </div>

</div>
