<h1 class="px-5 py-4 m-0 fw-bold">{{ pageTitle }}</h1>
<div class="transaction-list-container mx-3">
  <div class="container px-5">
    <div class="card">
      <div class="card-header bg-white p-4">
    <h2>Loan Transaction List</h2>
    <div class="card-body d-flex">
        <div class="col-md-12">
          <div class="col-md-4 ms-auto">
            <input class="form-control" type="text" placeholder="Search" [(ngModel)]="searchText">
          </div>
          
        </div>
      </div>
  
    <ng-container *ngIf="transactions && paginate">
      <div class="table-responsive-md mx-3 bdr">
      <table class="table table-bordered" style="border-color: #f79323;">
        <thead>
        <tr>
          <th>No</th>
          <th>Tenor</th>
          <th (click)="setSort('trxDate')">
            Transaction Date
            <i *ngIf="direction==='DESC' || sortBy!=='trxDate'" class="fa fa-arrow-down"></i>
            <i *ngIf="direction==='ASC' && sortBy==='trxDate'" class="fa fa-arrow-up"></i>
          </th>
          <th (click)="setSort('trxStatus')">
    
            Transaction Status
            <i *ngIf="direction==='DESC' || sortBy!=='trxStatus'" class="fa fa-arrow-down"></i>
            <i *ngIf="direction==='ASC' && sortBy==='trxStatus'" class="fa fa-arrow-up"></i>
          </th>
          <th (click)="setSort('nominalCredit')">
            Nominal Loan
            <i *ngIf="direction==='DESC' || sortBy!=='nominalCredit'" class="fa fa-arrow-down"></i>
            <i *ngIf="direction==='ASC' && sortBy==='nominalCredit'" class="fa fa-arrow-up"></i>
          </th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of transactions | search:searchText ; let i = index">
            <td>{{(i+1)}}</td>
            <td>{{data.installmentType}}</td>
            <td>{{data.disbursementDate | date: 'yyyy-MM-dd'}}</td>
            <td>{{data.trxStatus}}</td>
            <td> IDR {{data.nominalLoan}}</td>
            <td class="actions">
              <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-secondary text-white me-2" (click)="moveToDetails(data)">
                    Detail
                  </button>
            </div>
          </td>
          </tr>
        </tbody>
        <tfoot>
          <tr style="background-color: #f1b16d; height: 33px;">
            <td colspan="12"></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <button class="btn btn-primary text-white m-2" (click)="onTableDataChangePrev()" *ngIf="page>0">Prev</button>
    <button class="btn btn-primary text-white m-2" (click)="onTableDataChangeNext()" *ngIf="page<data.totalPages-1">Next</button> 
     
     </ng-container>
  </div>
    </div>
  </div>
</div>
  


