<h1 class="px-5 py-4 m-0 fw-bold">{{ pageTitle }}</h1>
<div class="transaction-list-container mx-3">
  <div class="container px-5">
    <div class="card">
      <div class="card-header bg-white p-4">
    <h2>Loan Transaction List</h2>
    <div class="card-body d-flex">
      <div class="col-md-12">
        <div class="col-md-4 ms-auto">
          <div class="input-group">
            <div class="mb-2">
              <label for class="form-label"> Installment Type </label>
              <div class="">
                <select (change)='setInstallment($any($event).target.value)'>
                  <option *ngFor="let item of items">{{item.name}}</option>
              </select>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  
    <ng-container *ngIf="transactions && paginate">
      <div class="table-responsive-md mx-3 bdr">
      <table class="table table-bordered" style="border-color: #f79323;">
        <thead>
        <tr>
          <th>No</th>
          <th>Customer Name</th>
          <th>Tenor</th>
          <th>Transaction Date</th>
          <th>Disbursement Status</th>
          <th>Disbursement Date</th>
          <th>Nominal Loan</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody *ngIf="isPresent; else no_data">
        <tr *ngFor="let data of transactions ; let i = index">
          <td>{{(i+1)}}</td>
          <td>{{data.fullName}}</td>
          <td>{{data.installmentType}}</td>
          <td>{{data.trxDate | date: 'yyyy-MM-dd'}}</td>
          <td>{{data.trxStatus}}</td>
          <td>{{data.disbursementDate | date: 'yyyy-MM-dd'}}</td>
          <td>{{data.nominalLoan}}</td>
          <td class="actions">
            <div class="d-flex justify-content-center">
              <div *ngIf="data.trxStatus==='APPROVED'; else not_disbursed">
                <button type="button" class="btn btn-primary text-white me-2" (click)="moveToForm(data)">
                  Disburse
                </button>
                <button type="button" class="btn btn-secondary text-white me-2" (click)="moveToDetails(data)">
                  Detail
                </button>
              </div>
                <ng-template #not_disbursed>
                  <button type="button" class="btn btn-secondary text-white me-2" (click)="moveToDetails(data)">
                    Detail
                  </button>
                </ng-template>
              
          </div>
        </td>
        </tr>
        </tbody>
        <ng-template #no_data>
          <h1>No Data Found</h1>
        </ng-template>
        <tfoot>
          <tr style="background-color: #f1b16d; height: 33px;">
            <td colspan="12"></td>
          </tr>
        </tfoot>
      </table>
      
    </div>   
     <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)">
      </pagination-controls> 
    </ng-container>
    <a routerLink="/disbursement/account-list"><button class="btn btn-primary text-white m-5" > Account List</button></a> 
  </div>
 
    </div>
  </div>
</div>
  

