<h1 class="px-5 py-4 m-0 fw-bold">{{ pageTitle }}</h1>

<div class="container px-5">
  <div class="card">
    <div class="card-header bg-white p-4">
      <h5 class="m-0">Disbursement Form</h5>
    </div>
    <form [formGroup]="disbursementForm">
    <div class="row">
        <div class="col">
    <div class="card-body d-flex justify-content-left">
      <div class="row">
        <div class="col">
          <div class="mb-2">
            <label for class="form-label"> Date </label>
            <input type="text" class="form-control" placeholder="DD/MM/YYYY" disabled/>
          </div>
          <div class="mb-2">
            <label for class="form-label"> Bank </label>
            <div class="">
                <select class="form-select" formControlName="customerBank" placeholder="Choose your bank">
                  <option value="" disabled selected>
                    Select your bank name
                  </option>
                  <option *ngFor="let item of bankName">
                    {{ item.name }}
                  </option>
                </select>
              </div>
              
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col">
  <div class="card-body d-flex justify-content-left">
    <div class="row">
      <div class="col">
        <div class="mb-2">
          <label for class="form-label"> Account Name</label>
          <input type="text" class="form-control" placeholder="Enter account name" formControlName="customerAccountName"/>
        </div>
        <div class="mb-2">
          <label for class="form-label"> Account Number</label>
          <input type="text" class="form-control" placeholder="Enter account number" formControlName="customerAccountNumber"/>
      </div>
    </div>
</div>
</div>
    <div class="d-flex mb-5 justify-content-center">
        <button type="button" class="btn btn-primary text-white me-2" (click)="submitData(disbursementForm.value)">
            Submit
          </button>
          <button type="submit" class="btn btn-secondary text-white me-2">
            Cancel
          </button>
    </div>
  </div>
</div>
<a routerLink="/disbursement/account-list"><button class="btn btn-primary text-white m-5" > Account List</button></a>
</form>

</div>
</div>
