<h1 class="px-5 py-4 m-0 fw-bold">{{ pageTitle }}</h1>
<div class="transaction-list-container mx-3">
  <div class="container px-5">
    <div class="card">
      <div class="card-header bg-white p-4">
    <h2>Loan Transaction List</h2>
    <div class="card-body d-flex">
      <div class="col-2">
        <button class="btn btn-primary" routerLink="/disbursement/disbursement-form"><i class="fa fa-plus"></i></button>
      </div>
      <div class="col-md-10">
        <div class="col-md-4 ms-auto">
          <div class="">
            <select [(ngModel)]="selectedOption" class="form-select" id="size" placeholder="Choose your data" (change)="loadAccounts()">
              <option disabled value="">Choose Row:</option>
              <option *ngFor="let o of options" >
                {{o.name}}
             </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  
    <!-- <ng-container *ngIf="transactions && paginate"> -->
      <div class="table-responsive-md mx-3 bdr" >
      <table class="table table-bordered" style="border-color: #f79323;">
        <thead>
        <tr>
          <th>No</th>
          <th>Bank</th>
          <th>Account Name</th>
          <th>Account Number</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of disbursementList; let i = index">
          <!-- <td>{{(currentPaginate['page'] - 1) * paginate.size + (i + 1)}}</td> -->
        
          <td>{{i+1}}</td>
          <td>{{data.customerBank}}</td>
          <td>{{data.customerAccountName}}</td>
          <td>{{data.customerAccountNumber}}</td>
          <td class="actions">
            <div class="d-flex justify-content-center">
                <button type="button"(click)="moveToForm(data)" class="btn btn-primary text-white me-2" >
                    Update
                    
                  </button>
                  <button type="button" (click)="deleteDisbursement(data)" class="btn btn-secondary text-white me-2">
                    Delete
                  </button>
            </div>
        </td>
      
        </tr>
        </tbody>
        <tfoot>
          <tr style="background-color: #f1b16d; height: 33px;">
            <td colspan="12"></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange()" (pageBoundsCorrection)="onTableDataChange()" >
  </pagination-controls>  -->
  <button (click)="onTableDataChangePrev()" *ngIf="pageNumber>0">Prev</button>
  <button (click)="onTableDataChangeNext()" *ngIf="pageNumber<data.totalPages-1">Next</button>
  
    <!-- </ng-container> -->
  </div>
    </div>
  </div>
</div>
  


